BasedOnStyle: Google

# indentation
IndentWidth: 4
TabWidth: 4

# padding
SpaceAfterLogicalNot: true

# alignment
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments: true